* {
  box-sizing: border-box;
}
body {
  font-family: "Amatic SC", sans-serif;
  color: #03295a;
}
header {
  display: flex;
}
#Naglowek {
  padding-left: 5vw;
}
#PlanDni {
  color: #e30613;
  padding-left: 2.5vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 30px;
}
h1 {
  text-align: center;
  color: #e30613;
  font-family: "Amatic SC", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
}
div#titleDetails {
  margin-bottom: 2rem;
  color: rgb(0, 119, 161);
  font-size: 40px;
}
h2 {
  text-align: center;
  font-family: "Amatic SC", sans-serif;
  font-size: 2rem;
}
div#titleDetails {
  font-family: "Amatic SC", sans-serif;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
div.sectionContainer {
  display: flex;
}
div.sectionImage {
  height: auto;
  width: auto;
}
div.sectionImage > img {
  max-width: 100%;
  padding: 70px;
}
div.sectionContent {
  flex: 1;
  color: rgb(0, 119, 161);
  font-size: 40px;
}
